<div class='container'>
    <div class='row'>
        <div class='col-sm-12 centered'>
            <br>
            <h3>Brandfolder Advanced Search</h3>
            <br>
        </div>
    </div>
    <div class='row centered'>
        <div class='col-xs-12'> 
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>        
            <form action="query" method='post' class="well" action="#" id="j-brandfolder-advanced-search">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <% if ENV['BF_TOKEN'].blank? %>
                    <div class="form-group">
                        <label for="bf_api_key">API Key - <a href="https://brandfolder.com/settings" target="_blank">Get yours here</a></label>
                        <input type="text" name="bf_api_key" id="bf_api_key" class="form-control" value="<%= @token %>">
                    </div>
                <% end %>

                <div class="form-group">
                    <label for="bf_url">Brandfolder URL</label>
                    <% disabled_state = ENV['BF_URL'].present? ? 'disabled="disabled"' : '' %>
                    <input type="text" name="bf_url" id="bf_url" class="form-control" value="<%= ENV['BF_URL'] || @slug%>" <%= disabled_state %>>
                </div>
                
                <div class="form-group">
                    <label for="bf_query">Queries - 1 search per line</label>
                    <textarea name="bf_query" id="bf_query" class="form-control" rows="3"><%= @queries.join("\n") if @queries.present? %></textarea>
                </div>

                <button type="submit" class="btn btn-primary" id="submit_search">
                    <span>Search</span>
                    <div class="la-ball-fall" style="display: none;">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>